body{
    min-height: 100vh;
    height: 100%;
}
nav{
    background-color: #e9e9e9;
}
nav .navbar-header{
    font-size: 22px;
    font-weight: 600;
}
.section-text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}
.label-text{
    font-size: 16px;
    font-weight: 600 !important;
}
.floating-add{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #acacac;
    padding: 12px;
    border-radius: 50%;
}
.floating-add i{
    color: white;
}
.container-action{
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
}
.container-action a{
    text-decoration: none !important;
    margin-left: 12px;
}
.container-action a button{
    padding: 10px 20px;
}